<a href="https://colab.research.google.com/github/ggling-q/AI/blob/main/AI3_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=["hi", 10, "80","김철수", 50, 50.6]
a.append(1)

In [ ]:
a

['hi', 10, '80', '김철수', 50, 50.6, 1]

In [ ]:
a=["hi", 10, "80","김철수", 50, 50.6]
b=a.index("80")
a.pop(b)
a

['hi', 10, '김철수', 50, 50.6]

In [ ]:
#딕셔너리 : 하나의 키 값을 정해줘 키 값 안에 변수를 넣어주는 방법
#딕셔너리의 키값을 설정하는것에 있어 꼭 수치값이 아니라도 괜찮음


A={1: "김철수", 20: "박영희"}
A[1]

# A={“1-A”: “김철수”, “20-B”: “박영희“}
# A[“1-A”] = 김철수
# A[“20-B”] = 박영희
# A.get(“1-A”) = 김철수
# A.get(“20-B”) = 박영희

'김철수'

In [ ]:
# 딕셔러리의 추가 삭제
A={"1-A": "김철수", "20-B": "박영희"}
 #추가 : 
A["2-A"] = "영희"
#삭제 : 
del A["2-A"]

In [ ]:
a=range(1,10)
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for a1 in range(1,10):
  print("-------------------")
  print(a1,"단 입니다.")
  for a2 in range(1,10):
    print(a1,"*",a2,"=",a1*a2)

-------------------
1 단 입니다.
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
-------------------
2 단 입니다.
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
-------------------
3 단 입니다.
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
-------------------
4 단 입니다.
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
-------------------
5 단 입니다.
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
-------------------
6 단 입니다.
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
-------------------
7 단 입니다.
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
-------------------
8 단 입니다.
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
-------------------
9 단 입니다.
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
x = [1, 2, 3]
y = ['a', 'b', 'c']

for i, j in zip(x, y):
    print('현재 i는', i, '이고, j는', j, '입니다.')

# 출력 결과
# 현재 i는 1 이고, j는 a 입니다.
# 현재 i는 2 이고, j는 b 입니다.
# 현재 i는 3 이고, j는 c 입니다.

현재 i는 1 이고, j는 a 입니다.
현재 i는 2 이고, j는 b 입니다.
현재 i는 3 이고, j는 c 입니다.

In [ ]:
x12=["033-570-6371","033-570-6376","033-570-6377","033-570-6378","033-570-6587"]
y12=["유희경","황득영","권세진","이태민","김창균"]


for x12,y12 in zip(x12,y12):
  print("교수님 이름:",x12,"에 해당하는 번호는",y12)

교수님 이름: 033-570-6371 에 해당하는 번호는 유희경
교수님 이름: 033-570-6376 에 해당하는 번호는 황득영
교수님 이름: 033-570-6377 에 해당하는 번호는 권세진
교수님 이름: 033-570-6378 에 해당하는 번호는 이태민
교수님 이름: 033-570-6587 에 해당하는 번호는 김창균

In [ ]:
for i1 in range(1,10):
  for i2 in range(1,i1+1):
    print("*",end="")
  print(" ")

*
**
***
****
*****
******
*******
********
*********

In [6]:
for i in range(10):
  print("1"*i)

1
11
111
1111
11111
111111
1111111
11111111
111111111

In [ ]:
for z1 in range(1,10):
  for z2 in range(1,z1):
    print(" ",end="")
  for z3 in range(z1,10):
      print("*",end="")
  print(" ")

*********
 ********
  *******
   ******
    *****
     ****
      ***
       **
        *

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
os.chdir("/content")
dir_list=os.listdir()

In [ ]:
slist="김철수/20,이철수/24,김영희/21,이영희/24,김민준/35,박민준/40,김지영/34,박지영/35".split(",")
print(slist)
for i10 in range(0,8):
  sslist[i10]=slist[i10].split("/")
sslist

['김철수/20', '이철수/24', '김영희/21', '이영희/24', '김민준/35', '박민준/40', '김지영/34', '박지영/35']

IndexError: ignored