<a href="https://colab.research.google.com/github/ggling-q/AI/blob/main/%EB%AC%B8%EC%A0%9C_format_List%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##변수에 이름/학교/학과 형식으로 저장하고 format을 사용해print하시오(이름/학교/학과는 각각 input을 활용해 입력

In [ ]:
A="{}/{}/{}".format(input(),input(),input())   # 포맷 사용법만 알 면 될 듯 합 니 다

이름
학교
학과

##위에서 생성된 이름/학교/학과 라는 문자를 이름-학교-학과로 변환하시오

In [ ]:
A=A.replace("/","-")
A

'이름-학교-학과'

##안녕하세요 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다. 라는 문장을 만들어서 반갑습니다. 라는 문장만 따로 print하시오

In [ ]:
HI="안녕하세요. 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다."
print(HI)
HI[-10:]

안녕하세요. 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다.

'만나서 반갑습니다.'

##위에서 저장된 변수에서 학교이름만 나오도록 print하시오

In [ ]:
A[3:5]

'학교'

##주어진 이름(Jone-30, Park-30, Kim-20, Lee-10, Oh-32, Kang-25)을 name이란 리스트를 만들고 Lee를 가진 사람의 성만 따로 도출하시오

In [ ]:
name=["Jone-30", "Park-30", "Kim-20", "Lee-10", "Oh-32", "Kang-25"]
name[3]

'Lee-10'

##20, 50, 76, 10, 59, 22, 40 ,50, 77, 52의 숫자를 하나의 리스트에 저장하시오

In [ ]:
num=[20, 50, 76, 10, 59, 22, 40 ,50, 77, 52]

## 위에서 저장된 리스트에서 20, 50, 76, 10만 print하시오

In [ ]:
print(num[0:4])

[20, 50, 76, 10]

##위에서 저장된 리스트에서 77만 print하시오

In [ ]:
num[8]

77

## 위에서 저장된 리스트에서 음수를 활용해 77, 52를 가지고오시오

In [ ]:
num[-2:]

[77, 52]