<a href="https://colab.research.google.com/github/ggling-q/AI/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_0%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##name과 age 변수를 만들어 print와 format을 활용해 name 변수에는 이름, age변수에는 나이를 입력해 결과를 프린트 하시오

In [ ]:
name=input()
age=int(input())

김창균
34

In [ ]:
print(("이름 : {}, 나이 : {}").format(name, age))

이름 : 김창균, 나이 : 34

##1단 부터 9단까지 구구단을 만드시오

In [ ]:
for i in range(1,10):
  print(("------{}단-----").format(i))
  for j in range(1,10):
    print(("{}X{}={}").format(i, j, i*j))

##exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]을 리스트로 변환하고 90점 이상 A 80점 이상 90점 미만B, 70점 이상 80점 미만을 C 60점 이상 70점 미만은 D 이외는 F로 아래와 같이 나타내시오

In [ ]:
exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]

In [ ]:
for i in exam:
  if i>=90:
    print("A")
  elif i>=80 and i<90:
    print("B")
  elif i>=70 and i<80:
    print("C")
  elif i>=60 and i<70:
    print("D")
  else:
    print("정확한 값을 입력해주세요")

##중국집에서 주문을 한다. 짜장면 한그릇은 10,000원 이다. 입력 금액이 짜장면 한 그릇보다 많으면 구매가능 아니면 구매 불가능으로 나타내시오

In [ ]:
j=int(input())
if j >=10000:
  print("구매가능")
else:
  print("구매불가능")

15000
구매가능

##중국집에서 주문을 한다. 짜장면 한그릇은 10,000원 이다. 입력 금액이 짜장면 한 그릇보다 많으면 구매가능 아니면 구매 불가능으로 나타내시오

당신은 13000원이 있으므로 1개 구매가능

##저는 .. 학과이고 이름은 .. 저의 나이는 ... 이고 저의 키는 ...입니다.

##한 학생의 시험 점수는 다음과 같다. grades=[85, 90, 92, 78, 80, 95]이때 모든 점수의 합의 평균이 85점이 넘을때 시험에 합격했습니다.라는 문구를 넣어서 print해줘